/*
Original design: Basic Profile (v1.0 - March 23rd, 2011) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-profile/

Original color: #239a23
Bluer version: #2a5a9a
*/

*{margin:0; padding:0;}
body {background:#fff url(background.jpg) top center no-repeat; 
  color:lighten(#828282, 50%); font:91% Open Sans,Arial,Helvetica,sans-serif; line-height:1.6em;
}
a {color:#B509AC; text-decoration:none;}
a:hover {text-decoration:underline;}
ul,dl {margin:0px 0px 10px 25px; padding-right: 5px;}
p {margin:0 0 20px 0; text-align: justify; text-justify: inter-word;}
h1 {color:#888; font-size:3.2em; line-height:1.1em; letter-spacing:-2px; margin:20px 0 20px 0; border-bottom: 2px solid #eee; width: 650px;}
h1 a {text-transform:none; text-decoration: none;}
h1 a:hover {color:#333; text-transform:none; text-decoration: none;}
h2 {font-size:2.2em; color:#333; margin:30px 0 20px 0; letter-spacing:-1px; border-bottom:2px solid #eee; width: 650px;}
h2 a {color:#333; text-transform:none; text-decoration: none;}
h2 a:hover {color:#333; text-transform:none; text-decoration: none;}
h3 {font-size:1.6em; margin:30px 0 10px 0; letter-spacing:-1px; border-bottom:2px solid #eee; width: 650px;}
h1,h2,h3 {font-weight:700; line-height:1.4em;}
#wrap {color:#303030; margin:30px auto; padding:0; width:910px; overflow: hidden;}
#content {text-align:left; padding-right:0px;}
#sidebar {float:right; width:220px; padding-left:30px; }
#sidebar ul {list-style:none; margin:0; padding:5px 0 10px 0; border-top:1px solid #eee;}
#sidebar li {list-style:none; font-size:1.2em; margin:0 0 5px; padding:5px 0 5px 0; color:#888; border-bottom:1px solid #eee;}
#sidebar li a {font-size:1.2em;}
#sidebar h2 {font-size: 1.4em;}
.toappear {color:#707070; border-bottom: 1px dashed #707070;}
.slogan {color:#888; font-size:1.4em; font-weight:700; margin:0 0 20px 0; letter-spacing:-1px;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {display:block; font-weight:700; color:#888; text-align:right; width:150px; padding:20px 20px 20px 0; float:left; margin:0 20px 20px 0; border-right:2px solid #eee;}
.timestamp a {font-weight:normal;}
.credits {display:block; text-align:center; width:100%; font-size:0.9em; color:#aaa; margin:30px 0;}
.credits a {color:#888;}
.clear {clear:both;}
.announcement {text-align: justify;  text-justify: inter-word;padding: 10px; margin-bottom: 20px; margin-left: auto; margin-right: auto; background:#fff8ba; border: 1px solid #ddcd99; font-size: 116%;}
ul.moreindent {margin: 0 0 20px 0; text-align: justify;  text-justify: inter-word;}
ul.moreindent li {margin-left: 10px;text-align: justify;  text-justify: inter-word;}
table ul {margin: 0 0 0 0;}
table ul li {margin-left: 12px; text-align: justify;  text-justify: inter-word;}



table {
  border-width: 1px;
  border-spacing: 0;
  border-style: none;
  border-color: #ddd;
  border-collapse: collapse;
  background-color: white;
}

table th {
  border-width: 1px;
  padding: 3px 8px;
  border-style: solid;
  border-color: #ddd;
  background-color: #eee;
  color: #808080;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  
}

table td {
  border-width: 1px;
  padding: 3px 8px;
  border-style: solid;
  border-color: #ddd;
   text-align: justify;
  text-justify: inter-word;
}
div {
    text-align: justify;
    text-justify: inter-word;
}
#photo {
  width: 100%;
  background:white;
  margin:35px 0px 0px 0px;
  text-align: center;
  padding-bottom: 5px;
  color: #ddd;
}

#photo a, #photo a:visited, #photo a:active, #photo a:hover { color: #ddd; }

li{
    margin: 2px 0px 0px 0px; text-align: justify;  text-justify: inter-word;
}
