@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot");
  src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Noto Sans"), local("Noto-Sans-regular"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot");
  src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold"), local("Noto-Sans-700"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"), url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"), url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot");
  src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Italic"), local("Noto-Sans-italic"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot");
  src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold Italic"), local("Noto-Sans-700italic"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans") format("svg");
}
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 18px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424242;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  word-wrap: break-word;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
  text-align: left;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/**
 * Figures
 */
figure > img {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

figcaption {
  font-size: 15.75px;
  margin-bottom: 0px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-size: inherit;
}

h1:lang(ko), h2:lang(ko), h3:lang(ko) {
  word-break: keep-all;
}

/**
 * Links
 */
a {
  color: #2568ba;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
a:visited {
  color: rgb(28.5381165919, 80.2152466368, 143.4618834081);
}
a:hover {
  color: #424242;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #757575;
  border-left: 4px solid rgb(231.75, 231.75, 231.75);
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote pre, blockquote code {
  color: #424242;
}

/**
 * Rules
 */
hr {
  height: 2px;
  margin: 3px 0;
  border: 0;
  background-color: rgb(231.75, 231.75, 231.75);
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 1px solid rgb(231.75, 231.75, 231.75);
  border-radius: 0;
  background-color: #f8f8f8;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  word-wrap: normal;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1150px - (30px * 2));
  max-width: calc(1150px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: justify;
  hyphens: auto;
}
@media screen and (max-width: 1100px) {
  .wrapper {
    max-width: -webkit-calc(1150px - (30px));
    max-width: calc(1150px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

.publication-wrapper {
  max-width: 1150px;
  max-width: 1150px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: justify;
  hyphens: auto;
}
@media screen and (max-width: 1100px) {
  .publication-wrapper {
    max-width: 1150px;
    max-width: 1150px;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */
.pagination:after, .wrapper:after, .publication-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.author {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.author a {
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
}
.author a:hover {
  text-decoration: underline;
}
.author b {
  font-weight: bold;
}
.author .more-authors {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.title {
  font-size: 18px;
  font-style: italic;
  margin-left: 5px;
}

.journal {
  font-size: 18px;
  margin-left: 5px;
}

.year {
  font-size: 18px;
  margin-left: 5px;
}

.booktitle {
  font-size: 18px;
  margin-left: 5px;
}

.abbr {
  font-size: 18px;
  color: #a00;
  margin-left: 5px;
}

.note {
  font-size: 18px;
  color: #458;
  margin-left: 5px;
}

.pdf {
  font-size: 18px;
  color: #008522;
  margin-left: 5px;
}

.rate,
.award {
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
}

a {
  margin-left: 10px;
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}

.social {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 8px;
  margin-left: 0px;
  border: 2px solid #bbb;
}
.social .contact-icons {
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 2.2rem;
  text-justify: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.social .contact-note {
  font-size: 0.8rem;
}

.profile {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.profile .address {
  font-size: 1rem;
  margin-bottom: 2px;
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Overlock", sans-serif;
}
.profile .address p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.profile.float-right {
  float: right;
  margin-left: 1.2rem;
  justify-items: right;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.profile.float-left {
  float: left;
  margin-right: 1.2rem;
}

@media (min-width: 576px) {
  .profile {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 24%;
  }
  .profile .address {
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    display: block;
  }
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0px;
  margin-bottom: 0;
  margin-left: 0px;
  float: left;
}
.site-title, .site-title:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 56px;
}
.site-nav .page-link {
  color: #424242;
  font-size: 24px;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 700px) {
  .site-nav .page-link {
    padding: 20px 0;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: 0px;
  font-size: 18px;
  color: #757575;
  text-align: center;
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  margin-bottom: 0px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list .post-link:hover {
  text-decoration: none;
}
.post-list > li {
  margin-bottom: 10px;
}
.post-list > li:not(:first-child) {
  border-top: 4px solid rgb(231.75, 231.75, 231.75);
  padding-top: 60px;
}

.post-archives {
  margin-left: 0;
  list-style: none;
}
.post-archives .post-link {
  font-size: 24px;
}
.post-archives > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 15.75px;
  color: #757575;
}

.post-link, .post-link:visited {
  color: #424242;
}
.post-link:hover {
  color: #2568ba;
}

.post-continue a {
  padding: 8px 15px;
  text-decoration: none;
}
.post-continue a, .post-continue a:visited {
  color: #424242;
  background-color: rgb(231.75, 231.75, 231.75);
}
.post-continue a:hover {
  color: white;
  background-color: #2568ba;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 24px;
  letter-spacing: -1px;
  margin-left: 0px;
  line-height: 1;
}
@media screen and (max-width: 1100px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content li {
  margin-bottom: 3px;
}
.post-content li :first-child {
  margin-bottom: 0.3px;
}
.post-content h1 {
  font-size: 38px;
}
@media screen and (max-width: 1100px) {
  .post-content h1 {
    font-size: 34px;
  }
}
.post-content h2 {
  font-size: 26px;
}
@media screen and (max-width: 1100px) {
  .post-content h2 {
    font-size: 24px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 1100px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 1100px) {
  .post-content h4 {
    font-size: 18px;
  }
}

.news {
  padding: 1.5rem 0;
  margin-bottom: 0rem;
}

.news h3 {
  font-size: 1.8rem;
  padding-bottom: 0rem;
  padding-top: 0px;
  margin-bottom: 2px;
  margin-top: 0px;
}

.news-container {
  max-height: 300px; /* Adjust height based on preference */
  border: 2px solid #bbb; /* Light border around the container */
  padding: 0px; /* Add some padding inside the container */
  padding-left: 5; /* Remove default padding */
  overflow-y: auto; /* Make the scrollbar visible */
  font-size: 16px; /* Set font size for the container */
}

.news ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 5;
  padding-right: 10px;
  margin: 2px;
  margin-bottom: 0px;
}

.news ul li {
  margin-bottom: 0.5rem; /* Increase space between items (was 1.2rem) */
  line-height: 1.6; /* Space between lines */
}

.news ul li .news-date {
  display: inline-block; /* Keep date and content inline */
  font-weight: bold;
  font-size: 16px; /* Set font size for the date */
  color: #000; /* Black color for the date */
  margin-right: 2px;
  margin-left: 5px;
}

.news ul li .news-content {
  font-size: 16px; /* Set font size for content */
  color: #333; /* Standard text color */
  margin-right: 5px;
  padding-right: 5px;
}

.news ul li .news-content a {
  color: #007acc; /* Customize link color */
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
}

.news ul li .news-content a:hover {
  text-decoration: underline;
  margin-right: auto;
  padding-right: 0px;
}

.profile img {
  width: 100%;
}

/**
 * Pagination
 */
.pagination {
  padding: 15px 0;
  border-top: 1px solid rgb(231.75, 231.75, 231.75);
  border-bottom: 1px solid rgb(231.75, 231.75, 231.75);
  text-align: center;
}
.pagination a, .pagination a:visited {
  color: #757575;
}
.pagination a:hover {
  color: #2568ba;
}
.pagination .previous {
  float: left;
}
.pagination .next {
  float: right;
}

.custom-width {
  flex: 0 0 18.66%; /* 2 columns = 16.66% * 2 = 33.33%, so choose a value between 16.66% and 33.33% */
  max-width: 18.66%; /* Adjust this value based on your needs, making sure it's between 1 and 2 column widths */
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background-color: #f8f8f8;
}
.highlighter-rouge .highlight {
  background-color: #f8f8f8;
}
.highlight .cm {
  color: #727262;
  font-style: italic;
}
.highlight .cp {
  color: #727272;
  font-weight: bold;
}
.highlight .c1 {
  color: #727262;
  font-style: italic;
}
.highlight .cs {
  color: #727272;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #727262;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .ge {
  color: #000;
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #727272;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .go {
  color: #727272;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #727272;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  color: #000;
  font-weight: bold;
}
.highlight .kd {
  color: #000;
  font-weight: bold;
}
.highlight .kn {
  color: #000;
  font-weight: bold;
}
.highlight .kp {
  color: #000;
  font-weight: bold;
}
.highlight .kr {
  color: #000;
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000;
  font-weight: bold;
}
.highlight .mf {
  color: #007f7f;
}
.highlight .mh {
  color: #007f7f;
}
.highlight .il {
  color: #007f7f;
}
.highlight .mi {
  color: #007f7f;
}
.highlight .mo {
  color: #007f7f;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #007f7f;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #008522;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #007f7f;
}
.highlight .bp {
  color: #727272;
}
.highlight .nb {
  color: #007aa3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #007f7f;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nl {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #007f7f;
}
.highlight .vg {
  color: #007f7f;
}
.highlight .vi {
  color: #007f7f;
}
.highlight .nv {
  color: #007f7f;
}
.highlight .ow {
  color: #000;
  font-weight: bold;
}
.highlight .o {
  color: #000;
  font-weight: bold;
}
.highlight .w {
  color: #727272;
}

/*# sourceMappingURL=main.css.map */